@charset "utf-8";
/* CSS Document */
li{
	display: inline;
	padding: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 500;
	
	
}

h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-style: normal;
    font-weight: 400;
	color: black;
	background-color:ghostwhite;
	font-size: 60px
	
	
		
		
}

body{
	background-color:ghostwhite;
		
	}

#page_name{
	position:absolute;
	left:770px;
	
}
	
a{
	color: black;
}

#submit_desc{
	position:absolute;
	top:700px;
	left:750px;
	font-size:20px;
	width:550px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}

#image_1{
	position:absolute;
	left:810px;
	top:250px;
}

#home_button{
	position:absolute;
	left:920px;
	top:580px;
}

#logo{ 
	position:absolute; 
	top:0; 
	left:0; 
} 