@charset "utf-8";
/* CSS Document */
li{
	display: inline;
	padding: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 500;
	
	
}

h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-style: normal;
    font-weight: 400;
	color: black;
	background-color:ghostwhite;
	font-size: 60px	
}

body{
	background-color:ghostwhite;
		
	}

#logo{ 
	position:absolute; 
	top:0; 
	left:0; 
} 

#Name_input{
	position:absolute;
	top:240px;
	left:860px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:20px;
	width:100px;
}

#LastName_input{
	position:absolute;
	top:300px;
	left:860px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:20px;
	width:200px;
}

#Email_input{
	position:absolute;
	top:360px;
	left:860px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:20px;
	width:100px;
}

#PhoneNo_input{
	position:absolute;
	top:420px;
	left:860px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:20px;
	width:200px;
}

#Choices_text{
	position:absolute;
	top:480px;
	left:760px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:20px;
	width:500px;

	
}

#Choices_input{
	position:absolute;
	top:560px;
	left:840px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:20px;
	width:500px;
}

#Resume_upload{
	position:absolute;
	top:660px;
	left:860px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:20px;
	width:500px;
}
#arrow_left{
	position:absolute;
	top:800px;
	left:20px;
}

#arrow_right{
	position:absolute;
	top:800px;
	left:1740px;	
}

#page_name{
	position:absolute;
	left:700px;
}

#applicationimg1{
	position:absolute;
	top:200px;
	left:150px;
}

#applicationimg2{
	position:absolute;
	top:190px;
	left:1270px;
}

a{
	color: black;
}

#back_text{
	position:absolute;
	top:850px;
	left:100px;
	font-size:20px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#next_text{
	position:absolute;
	top:850px;
	left:1760px;
	font-size:20px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}