@charset "utf-8";
/* CSS Document */
li{
	display: inline;
	padding: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 500;
	
	
}

h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-style: normal;
    font-weight: 400;
	color: black;
	background-color:ghostwhite;
	font-size: 60px
	
	
		
		
}

body{
	background-color:ghostwhite;
		
	}
		
#logo{ 
	position:absolute; 
	top:0; 
	left:0; 
} 

#beans{
	position:absolute;
	top:350px;
	left:400px;
}

#beansCoffee{
	position:absolute;
	top:350px;
	left:800px;

}

#cocoabeans{
	position:absolute;
	top:350px;
	left:1200px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}

#bakedbeanstext{
	position:absolute;
	top:650px;
	left:470px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}

#coffeebeanstext{
	position:absolute;
	top:650px;
	left:900px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
	
}

#cocoabeanstext{
	position:absolute;
	top:650px;
	left:1310px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}

#staff_images{
	position:absolute;
	top: 800px;
	left: 500px;
}

#Homepage_text{
	position:absolute;
	word-wrap:break-word;
	height:80px;
	width:1400px;
	left:300px;
	top:180px;
	font-size:20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}
		
#page_name{
	position:absolute;
	left:770px;
	
}
	
a{
	color: black;
}




